* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(238, 223, 196);
}

#area-cab {
    background-color: rgb(243, 196, 96);
    padding: 15px;
    text-align: center;
}

#area-logo,
#area-menu {
    padding: 10px;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

a:link,
a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    padding: 10px;
}

#area-menu a:link,
#area-menu a:visited {
    color: white;
}

#area-menu a:hover {
    color: rgb(243, 196, 96);
    background-color: white;
    text-decoration: none;
}

#area {
    width: 920px;
    margin: auto;
    padding: 20px;
}

#postagem {
    background-color: white;
    width: 660px;
    float: left;
}

#area-la {
    background-color: white;
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    background-color: rgba(177, 175, 169, 0.76);
    width: 920px;
    text-align: center;
    padding: 15px;
}

#post {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#post img {
    width: 620px;
}

h2 {
    color: #f7b600;
}

.datapo {
    font-size: 0.8em;
    border-bottom: 1px solid #c6c6c9;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conte-lat {
    background-color: rgb(255, 255, 255);
    max-width: 10px;
    padding: 10px;
    margin-bottom: 1px solid rgb(102, 100, 100);
}

h3 {
    color: #565656;
    background-color: #ccc;
    padding: 5px;
}

.post-la {
    font-size: 0.8am;
    padding: 5px;
}