                        body {
                            background-color: rgb(165, 197, 228);
                            font-family: Helvetica, sans-serif;
                            font-size: 62, 5%;
                        }
                        
                        #interface {
                            background-color: white;
                            margin: auto;
                            width: 1300px;
                            height: auto;
                            position: relative;
                            padding: 25px;
                            border-radius: 20px;
                            box-shadow: 10px 10px 10px rgba(75, 75, 75, 0.404);
                        }
                        
                        #img1 {
                            position: relative;
                            margin: auto;
                            border: solid rgba(138, 136, 209, 0.63) 4px;
                            border-radius: 20px;
                            left: 180px;
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
                        }
                        
                        #menu {
                            position: relative;
                            left: 500px;
                            top: -150px;
                            width: 900px;
                        }
                        
                        #menu h2 {
                            color: rgba(0, 0, 0, 0.479);
                            display: none;
                        }
                        
                        #menu ul {
                            display: inline-block;
                        }
                        
                        #menu li {
                            display: inline-block;
                            position: relative;
                            font-style: none;
                            padding: 20px;
                            margin: 10px;
                            border-radius: 10px;
                            background-color: rgba(127, 127, 228, 0.384);
                        }
                        
                        #menu li:hover {
                            background-color: rgba(127, 127, 228, 0.541);
                        }
                        
                        a {
                            text-decoration: none;
                            color: black;
                        }
                        
                        a:hover {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.397);
                        }
                        
                        #anti-menu {
                            margin: 0px -25px 10px -25px;
                            height: 180px;
                        }
                        
                        #anti-menu img {
                            position: relative;
                            margin-top: -10px;
                            margin-left: 10px;
                        }
                        
                        #rodape {
                            border-top: 1px solid #6060606c;
                            clear: both;
                        }
                        
                        #rodape p {
                            text-align: center;
                        }
                        
                        #h2 {
                            font-size: 30px;
                        }
                        
                        h2,
                        h3 {
                            text-indent: 50px;
                        }
                        
                        p {
                            font-size: 20px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            padding-left: 5px;
                            text-indent: 50px;
                            margin: 30px;
                        }
                        
                        .flip,
                        .flip1,
                        .flip2,
                        .flip3,
                        .flip4 {
                            font-size: 16px;
                            padding: 10px;
                            text-align: center;
                            background-color: #4c74af;
                            color: white;
                            border: solid 1px #a6d8a8;
                            margin: auto;
                            border-radius: 50px;
                        }
                        
                        #panel,
                        #panel1,
                        #panel2,
                        #panel3,
                        #panel4 {
                            font-size: 16px;
                            padding: 10px;
                            background-color: #ffffff;
                            color: rgb(0, 0, 0);
                            border: solid 1px #85a1dd;
                            border-radius: 20px;
                            margin: 15px;
                            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.247);
                            display: none;
                        }
                        
                        #horario {
                            font-size: 16px;
                            padding: 10px;
                            color: rgb(0, 0, 0);
                            border: solid 1px #85a1dd;
                            border-radius: 20px;
                            margin: 15px;
                            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.247);
                            width: 550px;
                            height: 120PX;
                            font-family: Arial, Helvetica, sans-serif;
                            color: rgb(148, 137, 117);
                        }
                        
                        #horario img {
                            position: relative;
                            left: 200px;
                            padding: 10PX;
                        }
                        
                        #redeVaci {
                            position: relative;
                            left: 500px;
                        }
                        
                        #mapa {
                            margin: auto;
                            height: 400px;
                            width: 400px;
                        }